*{
    box-sizing: border-box;
}

body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;

}

header{
    background-color: rgb(212, 212, 212);
}

.contenedor {
    max-width: 1400px;
    margin: auto;
}


header .contenedor{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

header .logo{

    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: rgb(47, 147, 255);
    font-size: 3rem;
    text-shadow: 4px 2px #03030349 ;
    font-style: italic;
}

header a{
    padding: 10px 30px;
    margin: 0;
    
    font-weight: bold ;
    color:rgb(43, 165, 226) ;
    font-size: 1.6rem;
    text-decoration: none;
    border: solid 1px rgb(43, 202, 226) ;
    border-radius: 5px ;

}



header a:hover{
     color: blueviolet;   
}

#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    text-align:center ;
    flex-direction:column ;

    background-image: linear-gradient(to right, rgba(50, 77, 158, 0.59),rgba(6, 50, 77, 0.496)),  url(./recursos/img/laptop-593673_1280.jpg);

    /* filter:contrast(10%); */
    background-repeat:no-repeat ;
    background-size: cover;
    background-position: cover center;
}


#hero h1{
color:white;
font-size:4em;

}

#hero button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    width: 29%;
    border-radius: 8px;
    border: solid 2px purple;
    background-color: rgba(255, 0, 47, 0.835);
    box-shadow: 2px 2px 10px rgba(3, 30, 57, 0.842);
    color: white;
    
}

#hero button:hover{
    background-color: #610272ab;
    
}

#nosotros .contenedor{
    text-align: center;
    padding: 100px 12px;

    /* margin-top: 50px; */
}

#programas{
    background-color: #111;
    color: white;
    text-align: center;
}

.programaste{
    margin-top:80px ;
    display: flex;
    flex-direction: row;
}

.card i{
    font-size:10em ;
}

 #programas .contenedor{
    padding: 100px 0px;
 }
 

#programas .card{
    background-position: center center;
    background-size: cover;
    padding: 50px 20px;
    margin: 30px;
    border:2px solid white; 
    border-radius: 15px;
}

.card button {
    font-size: 1.25em;
    font-weight: bold;
    padding: 20px 30px;
    margin-top: 50px;
    width: 29%;
    border-radius: 25px;
    border: rgba(255, 0, 47, 0.835);
    background-color:purple ;
    box-shadow: 2px 2px 10px rgba(3, 30, 57, 0.842);
    color: white;
    font-size: 32px;
    width: 8em;
    font-style: italic;


}

.card button:hover{
    color: rgb(0, 0, 0);
    background: rgba(112, 255, 131, 0.743);
}



/*ORGANIZAR EL TAMAÑO*/
/*
ul{
    list-style-image: url(./recursos/png/small-verificaciónIG.png) ;

    }
    
ul li::marker{
   font-size: 10px;

}

ul li:nth-child():before {
    content: '';
    display: inline-block;
    height: 25px;
    width: 40px;
    background-image: url('./recursos/png/icons8-marca-de-verificación-de-instagram-50.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: -35px;
  }
*/



#caract ul{
    margin:100px 0px ;
    list-style: none;
    text-align: center ;
    font-size: 2em;
   


}

#caract li{
    margin: 16px 0;
    font-weight: bold;
   
    
    
}

#caract div{
    
}


#final{
    display:flex ;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding-bottom: 2em;
    margin: auto;
}

#final button{
    font-size: 2.2vw;
    width: 30%;
    margin: auto;
    padding: 10px;
    font-size: 1.25em;
    font-weight: bold;
    border-radius: 25px;
    border: rgba(255, 0, 47, 0.835);
    background-color:purple ;
    box-shadow: 2px 2px 10px rgba(3, 30, 57, 0.842);
    color: white;
    font-size: 32px;
    font-style: italic;

}

#final button:hover{
    color: rgb(255, 255, 255);
    background: rgb(247, 0, 0);
}


footer{
    display: flex;

    width: 100%; 
    background-color: rgb(195, 195, 195);
    margin: auto;   
    font-size: 20px;
    justify-content: space-evenly;
}

footer .contenedor-pie{
    
}

footer .social{
    font-size: 40px;
    color: rgb(0, 21, 255);
    padding-top: 0.1em;
}

